* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

button {
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0.25rem 0.75rem;
  background: none;
  border-radius: 0.5rem;
}

button:hover,
button:focus {
  outline: none;
  background-color: aliceblue;
}

.library-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 1280px;
  flex-wrap: wrap;
}

.book-card {
  width: 250px;
  height: 300px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1em black;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.book-card > :first-child {
  font-style: italic;
}

.book-card > * + * {
  margin-top: 0.5em;
}

.book-buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.inactive {
  display: none;
}
